# This is a basic workflow to help you get started with Actions

name: Validation

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the default branch
on:
  push:
    branches: [ default ]
  pull_request:
    branches: [ default ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  flake8:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Add .local path
      run: |
        echo "::add-path::$HOME/.local/bin"
        
    - name: Install Base Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install python3-venv pipx
        pipx install poetry
    
    - name: Install Python Dependencies
      run: |
        poetry config virtualenvs.in-project true
        poetry install

    - name: Run flake8
      run: |
        poetry run flake8 src
